.root {
   color: var(--theme-color);
   background-color: var(--theme-bg-color);
   padding: 15px 12px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   .logo {
      display: flex;
      flex: 1 1 0;
   }
   .navigate {
      display: flex;
      align-items: center;
      gap: 12px;
   }
   .user {
      display: flex;
      align-items: center;
      gap: 1rem;
   }
}
