.root {
   display: flex;
   align-items: center;
   justify-content: center;
   .line {
      flex: 1;
      height: 1px;
      background: #eee;
   }
   .content {
      font-size: 16px;
      margin: 0 2rem;
   }
}
